@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light){
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-archivo);
}

.btn-primary{
  @apply py-4 px-6 inline-block bg-primary mr-4 hover:bg-white hover:text-primary
}
.btn-secondary{
  @apply py-4 px-6 inline-block bg-white mr-4 text-primary border-white border-2 hover:bg-transparent hover:text-white
}
.container{
  @apply xl:max-w-screen-2xl mx-auto px-6;
}